<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ChinookWeb-63afcd06-b9cf-48a0-ac2a-67ab6dd49ada;AttachDbFilename=|DataDirectory|\aspnet-ChinookWeb-63afcd06-b9cf-48a0-ac2a-67ab6dd49ada.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="ChinookDB" connectionString="Data Source=.\SQLEPRESS; Initial Catalog=Chinook; Integrated Security=true" providerName="System.Data.SqlClient"/>
</connectionStrings>
